version: '3.8'

services:
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - .:/app
      - ./uploads:/app/uploads
      - ./templates:/app/templates
      - ./static:/app/static
    depends_on:
      - db
    env_file:
      - .env
    restart: always

  db:
    image: postgres:17
    volumes:
      - postgres_data_v17:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - "5432:5432"

volumes:
  postgres_data_v17: